server: "irc.freenode.net"
service: 6667
chans:
    - "#botnet"
banChans:
    - "#banned"
botnick: "botnet"
botpwd: "somePassword"
adminUsers: 
    - "the_bofh"
rateTime: 300
rateChans:
    - "#botnet"
umodes:
    - "+B"
wolframAPI: "DEMO"
silent: true
